.tooltip {
  top: 17px;
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  width: 34px;
  text-align: center;
  line-height: 34px;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 600;

  &::before {
    display: none;
  }
}
