.container {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  border: 2px solid black;
  background-color: grey;
  display: flex;
  flex-direction: column;
  z-index: 9999;

  &[aria-collapsed='true'] {
    overflow: hidden;
    height: 30px;
  }

  form {
    width: 100%;
  }

  input {
    height: 30px;
    font-size: 30px;
  }

  .showDisplayToggleButton {
    line-height: 4px;
  }

  .listsContainer {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;

    ul {
      border: 1px dashed black;
      height: 200px;
      overflow-y: auto;

      &.choosableList {
        li {
          cursor: pointer;

          &:hover {
            color: purple;
          }

          &[aria-selected='true'] {
            color: black;
            cursor: not-allowed;
            font-style: italic;
            border: 1px solid black;
          }
        }
      }
    }
  }
}
